@model IEnumerable<RentYourCar_PWEB.Models.AvaliacaoFornecedor>
<br /><br />

<div class="row col-lg-12">
    <h3>Avaliações do Fornecedor</h3>

    @if (!Model.Any())
    {
        <div class="well col-lg-12">
            <p>Este utilizador ainda não foi avaliado enquanto fornecedor.</p>
        </div>
    }
    else
    {
        foreach (var item in Model)
        {
            <div class="well">
                <div class="row">
                <div class="col-lg-3">
                    <p>
                        <strong>Cliente: </strong>
                        @Html.ActionLink(item.Aluguer.Cliente.Nome, "Detalhes", "Utilizadores", new {id = item.Aluguer.ClienteId}, null)
                    </p>
                </div>
                    <div class="col-lg-4">
                        <p>
                            <strong>Veículo: </strong> @item.Aluguer.Veiculo.Marca @item.Aluguer.Veiculo.Modelo
                            [@Html.ActionLink(item.Aluguer.Veiculo.Matricula, "Details", "Veiculos", new {id = item.Aluguer.VeiculoId}, null)]
                        </p>
                    </div>
                </div>
                <div class="row col-lg-12">
                    <p>Aluguer de @item.Aluguer.Inicio.ToShortDateString() a @item.Aluguer.Fim.ToShortDateString()</p>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <p><strong>Rapidez na Resposta: </strong>@item.Rapidez</p>
                    </div>
                    <div class="col-lg-3">
                        <p><strong>Simpatia: </strong>@item.Simpatia</p>
                    </div>
                </div>

                <div class="row col-lg-12">
                    <p>@item.Comentario</p>
                </div>
            </div>

        }
    }
</div>

