@model IEnumerable<RentYourCar_PWEB.Models.ApplicationUser>
@{
    ViewBag.Title = "Utilizadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gerir Utilizadores</h2>

<table id="users" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@Html.ActionLink(user.Nome, "Detalhes", new { id = user.Id }, new { @class = "btn btn-link" })</td>
                <td>@user.Email</td>
                <td>@user.RoleName</td>
                @if (user.Aprovado)
                {
                    <td>Aprovado</td>
                }
                else
                {
                    <td><button class="btn btn-link js-aprovar" data-user-id="@user.Id" data-user-name="@user.Nome">Não Aprovado</button></td>
                }

                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = user.Id }, new { @class = "btn btn-link" })
                </td>
                <td>
                    <button class="btn btn-link js-remover" data-user-id="@user.Id" data-user-name="@user.Nome">Remover</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#users").DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registos por página",
                    "zeroRecords": "Não foram encontrados registos",
                    "info": "A mostrar a página _PAGE_ de _PAGES_",
                    "infoEmpty": "Não existem registos disponíveis",
                    "infoFiltered": "(filtrado de _MAX_ registos no total)",
                    "search": "Pesquisar: ",
                    "paginate": {
                        "first": "Primeira",
                        "last": "Última",
                        "next": "Próxima",
                        "previous": "Anterior"
                    }
                }
            });

            table.on("click", ".js-aprovar", function () {
                var button = $(this);

                var confirmMessage = "Tem a certeza que pretende aprovar o utilizador " + button.attr("data-user-name") + "?";
                if (confirm(confirmMessage)) {
                    $.ajax({
                        url: "/Utilizadores/Aprovar/" + button.attr("data-user-id"),
                        method: 'POST',
                        success: function () {
                            //console.log("Utilizador aprovado");
                            table.cell(button.parents("td")).data("Aprovado").draw();
                        }
                    });
                }
            });

            table.on("click", ".js-remover", function() {
                var button = $(this);

                var confirmMessage = "Tem a certeza que pretende eliminar o utilizador " + button.attr("data-user-name") + "?";
                if (confirm(confirmMessage)) {
                    $.ajax({
                        url: "/Utilizadores/Remover/" + button.attr("data-user-id"),
                        method: 'POST',
                        success: function () {
                            console.log("Utilizador removido");
                            table.row(button.parents("tr")).remove().draw();
                        }
                    });
                }
            });
        });

    </script>
}