@using RentYourCar_PWEB.Models
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("RentYourCar", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @*<li>@Html.ActionLink("Início", "Index", "Home")</li>*@
                <li>@Html.ActionLink("Sobre Nós", "About", "Home")</li>
                <li>@Html.ActionLink("Contactos", "Contact", "Home")</li>

                @if (!User.IsInRole(RoleNames.Admin) && !User.IsInRole(RoleNames.Profissional))
                {
                    <li>@Html.ActionLink("Alugar Veículos", "ListaVeiculos", "Veiculos")</li>
                }

                @if (User.IsInRole(RoleNames.Admin))
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
                            Administração
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Gerir Utilizadores", "GerirUtilizadores", "Utilizadores")</li>
                            <li>@Html.ActionLink("Gerir Veículos", "GerirVeiculos", "Veiculos")</li>
                            <li>@Html.ActionLink("Gerir Alugueres", "Index", "Alugueres")</li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole(RoleNames.Particular))
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
                            Clientes
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Meus Alugueres", "AlugueresCliente", "Alugueres")</li>
                            <li><a href="#">Minhas Avaliações (em construção)</a></li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole(RoleNames.Profissional) || User.IsInRole(RoleNames.Particular))
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
                            Prestadores de Serviço
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Gerir Veículos", "Index", "Veiculos")</li>
                            <li>@Html.ActionLink("Gerir Alugueres", "AlugueresFornecedor", "Alugueres")</li>
                            <li><a href="#">Minhas Avaliações (em construção)</a></li>
                            <li><a href="#">Avaliações dos meus Veículos (em construção)</a></li>
                        </ul>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>