@using RentYourCar_PWEB.Models
@using RentYourCar_PWEB.Models.VeiculosView
@model RentYourCar_PWEB.Models.VeiculosView.CreateVeiculoViewModel

@{
    ViewBag.Title = "Criar Veículo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">@ViewBag.Title</h2>




<div class="form-horizontal">
    <div class="row">
        @using (Html.BeginForm("Create", "Veiculos"))
        {
            @Html.AntiForgeryToken()
            <div class="col-lg-6">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Veiculo.Marca, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Veiculo.Marca, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Veiculo.Marca, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Veiculo.Modelo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Veiculo.Modelo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Veiculo.Modelo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Veiculo.Matricula, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Veiculo.Matricula, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Veiculo.Matricula, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Veiculo.Lutacao, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Veiculo.Lutacao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Veiculo.Lutacao, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Veiculo.NPortas, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Veiculo.NPortas, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Veiculo.NPortas, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Veiculo.Combustivel_id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Veiculo.Combustivel_id, new SelectList(Model.Combustivels, "id", "Nome"), "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Veiculo.Combustivel_id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Veiculo.Categoria_id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Veiculo.Categoria_id, new SelectList(Model.Categorias, "id", "Nome"), "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Veiculo.Categoria_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Veiculo.PrecoDiario, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Veiculo.PrecoDiario, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Veiculo.PrecoDiario, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.Veiculo.Regiao, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Veiculo.Regiao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Veiculo.Regiao, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                @{
                    var minDate = string.Format("{0:D4}-{1:D2}-{2:D2}", @DateTime.Today.Year, @DateTime.Today.Month, @DateTime.Today.Day);
                }
                <div class="form-group">
                    <label class="control-label col-md-2">@minDate</label>
                    <div class="col-md-10">
                        <input type="date" min="@minDate" max="2019-12-31" class="form-control"/>
                        
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Veiculo.CondicoesArrendamento, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Veiculo.CondicoesArrendamento, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Veiculo.CondicoesArrendamento, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Criar" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
        <div class="col-lg-4">




            @Html.Partial("_UploadImages", new ImageViewModel())
        </div>
    </div>
</div>


@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@