@model RentYourCar_PWEB.Models.VeiculosView.DetailsVeiculoViewModel

@{
    ViewBag.Title = "Detalhes de Veículo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">@ViewBag.Title</h2>

<div>
    <div class="row">
        <div class="col-lg-6">
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Veiculo.Marca)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Veiculo.Marca)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Veiculo.Modelo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Veiculo.Modelo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Veiculo.Matricula)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Veiculo.Matricula)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Veiculo.Aprovado)
                </dt>

                @{
                    var aprovado = Model.Veiculo.Aprovado ? "Sim" : "Não";
                }
                <dd>
                    @aprovado
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Veiculo.Lutacao)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Veiculo.Lutacao)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Veiculo.NPortas)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Veiculo.NPortas)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Veiculo.Combustivel_id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Combustivel)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Veiculo.Categoria_id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Categoria)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Veiculo.PrecoDiario)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Veiculo.PrecoDiario)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Veiculo.Regiao)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Veiculo.Regiao)
                </dd>

                <dt>
                    Disponível de 
                </dt>
                <dd>
                    @Model.Veiculo.InicioDisponibilidade.ToShortDateString()
                </dd>
                
                <dt>
                    Até
                </dt>
                <dd>
                    @Model.Veiculo.FimDisponibilidade.ToShortDateString()
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Veiculo.CondicoesArrendamento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Veiculo.CondicoesArrendamento)
                </dd>

            </dl>
        </div>

        <div class="col-lg-4">
            <h3>Imagens</h3>

            <div class="panel panel-body" style="min-height: 256px">

                @Html.AntiForgeryToken()
                <div class="col-md-9">

                    <div class="col-md-5 thumbnail" id="uploadedImage" style="min-width: 500px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<p>
        @Html.ActionLink("Edit", "Edit", new {id = Model.Veiculo.Id}) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function() {

        ReloadAllImages();
    });

    function ClearImages() {
        $("#uploadedImage").empty();
    }


    function ReloadAllImages() {
        ClearImages();
        var response = @Html.Raw(Json.Encode(Model.imagesPaths));
        $('.roleDD').empty();
        for (var i = 0; i < response.length; i++) {
            $("#uploadedImage")
                .append('<img src="' +
                    response[i] +
                    '" class="img-responsive thumbnail img-wrap" style="max-height: 250px; float: left" onclick="deleteImage(\'' +
                    response[i] +
                    '\')"/>');
        }


    }
</script>