@model IEnumerable<RentYourCar_PWEB.Models.VeiculosView.DetailsVeiculoViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Veiculo.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Veiculo.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Veiculo.Lutacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Veiculo.NPortas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Veiculo.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Veiculo.Combustivel_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Veiculo.Categoria_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Veiculo.PrecoDiario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Veiculo.PrecoMensal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Veiculo.Aprovado)
        </th>
        @*
        <th>
            @Html.DisplayNameFor(model => model.Veiculo.CondicoesArrendamento)
        </th>
        *@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Veiculo.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Veiculo.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Veiculo.Lutacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Veiculo.NPortas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Veiculo.Matricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Combustivel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Veiculo.PrecoDiario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Veiculo.PrecoMensal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Veiculo.Aprovado)
        </td>
        @*
        <td>
            @Html.DisplayFor(modelItem => item.Veiculo.CondicoesArrendamento)
        </td>
        *@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Veiculo.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Veiculo.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Veiculo.Id })
        </td>
    </tr>
    }

</table>