@model IEnumerable<RentYourCar_PWEB.Models.VeiculosView.DetailsVeiculoViewModel>
@{
    ViewBag.Title = "Gerir Veículos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">Gerir Veículos</h2>

<table id="gerirVeiculos" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Proprietário</th>
        <th>Matrícula</th>
        <th>Marca / Modelo</th>
        <th>Categoria</th>
        <th>Combustível</th>
        <th>Preço Diário</th>
        <th>Preço Mensal</th>
        <th>Estado</th>
        <th>Editar</th>
        <th>Remover</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var veiculo in Model)
    {
        <tr>
            <td>@Html.ActionLink(veiculo.Proprietario, "Detalhes", "Utilizadores", new {id=veiculo.Veiculo.UserId}, new {@class="btn btn-link"})</td>
            <td>@Html.ActionLink(veiculo.Veiculo.Matricula, "Details", new { id = veiculo.Veiculo.Id }, new { @class = "btn btn-link" })</td>
            <td>@veiculo.Veiculo.Marca / @veiculo.Veiculo.Modelo</td>
            <td>@veiculo.Categoria</td>
            <td>@veiculo.Combustivel</td>
            <td>@veiculo.Veiculo.PrecoDiario</td>
            <td>@veiculo.Veiculo.PrecoMensal</td>
            @if (veiculo.Veiculo.Aprovado)
            {
                <td>Aprovado</td>
            }
            else
            {
                <td>
                    <button class="btn btn-link js-aprovar" data-veiculo-id="@veiculo.Veiculo.Id" data-veiculo-matricula="@veiculo.Veiculo.Matricula">
                        Não Aprovado
                    </button>
                </td>
            }

            <td>
                @Html.ActionLink("Editar", "Edit", new {id = veiculo.Veiculo.Id}, new {@class = "btn btn-link"})
            </td>
            <td>
                <button class="btn btn-link js-remover" data-veiculo-id="@veiculo.Veiculo.Id" data-veiculo-matricula="@veiculo.Veiculo.Matricula">
                    Remover
                </button>
            </td>
        </tr>
    }
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#gerirVeiculos").DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registos por página",
                    "zeroRecords": "Não foram encontrados registos",
                    "info": "A mostrar a página _PAGE_ de _PAGES_",
                    "infoEmpty": "Não existem registos disponíveis",
                    "infoFiltered": "(filtrado de _MAX_ registos no total)",
                    "search": "Pesquisar: ",
                    "paginate": {
                        "first": "Primeira",
                        "last": "Última",
                        "next": "Próxima",
                        "previous": "Anterior"
                    }
                }
            });

            table.on("click", ".js-aprovar", function () {
                var button = $(this);

                var confirmMessage = "Tem a certeza que pretende aprovar o veículo com matrícula " + button.attr("data-veiculo-matricula") + "?";
                if (confirm(confirmMessage)) {
                    $.ajax({
                        url: "/Veiculos/Aprovar/" + button.attr("data-veiculo-id"),
                        method: 'POST',
                        success: function () {
                            //console.log("Veiculo aprovado");
                            table.cell(button.parents("td")).data("Aprovado").draw();
                        }
                    });
                }
            });

            table.on("click", ".js-remover", function () {
                var button = $(this);

                var confirmMessage = "Tem a certeza que pretende eliminar o veículo com matrícula " + button.attr("data-veiculo-matricula") + "?";
                if (confirm(confirmMessage)) {
                    $.ajax({
                        url: "/Veiculos/Delete/" + button.attr("data-veiculo-id"),
                        method: 'GET',
                        success: function () {
                            //console.log("Veiculo removido");
                            table.row(button.parents("tr")).remove().draw();
                        }
                    });
                }
            });
        });
    </script>
}
    
