@model IEnumerable<RentYourCar_PWEB.Models.VeiculosView.DetailsVeiculoViewModel>
@{
    ViewBag.Title = "Veículos para Alugar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">Veículos para Alugar</h2>

<table id="listaVeiculos" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Proprietário</th>
            <th>Matrícula</th>
            <th>Marca / Modelo</th>
            <th>Categoria</th>
            <th>Combustível</th>
            <th>Preço Diário</th>
            <th>Preço Mensal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var veiculo in Model)
        {
            <tr>
                <td>@Html.ActionLink(veiculo.Proprietario, "Detalhes", "Utilizadores", new {id=veiculo.Veiculo.UserId}, new {@class="btn btn-link"})</td>
                <td>@Html.ActionLink(veiculo.Veiculo.Matricula, "Details", new { id = veiculo.Veiculo.Id }, new { @class = "btn btn-link" })</td>
                <td>@veiculo.Veiculo.Marca / @veiculo.Veiculo.Modelo</td>
                <td>@veiculo.Categoria</td>
                <td>@veiculo.Combustivel</td>
                <td>@veiculo.Veiculo.PrecoDiario</td>
                <td>@veiculo.Veiculo.PrecoMensal</td>
            </tr>
        }
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#listaVeiculos").DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registos por página",
                    "zeroRecords": "Não foram encontrados registos",
                    "info": "A mostrar a página _PAGE_ de _PAGES_",
                    "infoEmpty": "Não existem registos disponíveis",
                    "infoFiltered": "(filtrado de _MAX_ registos no total)",
                    "search": "Pesquisar: ",
                    "paginate": {
                        "first": "Primeira",
                        "last": "Última",
                        "next": "Próxima",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}
