@using RentYourCar_PWEB.Models
@model RentYourCar_PWEB.Models.Aluguer

@if (Model.AluguerState_id == AluguerState.Pendente)
{
    <div class="col-md-3">
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    </div>
        <div class="col-md-3">
            <button class="btn btn-danger js-cancelar" AluguerId="@Model.Id" DataInicio="@Model.Inicio.ToShortDateString()" DataFim="@Model.Fim.ToShortDateString()">
                Cancelar
            </button>
        </div>

}
else if (Model.AluguerState_id == AluguerState.Aceite)
{
    <div class="col-md-3">
        <button class="btn btn-danger js-cancelar" AluguerId="@Model.Id" DataInicio="@Model.Inicio.ToShortDateString()" DataFim="@Model.Fim.ToShortDateString()">
            Cancelar
        </button>
    </div>
}
else if (@Model.AluguerState_id == AluguerState.EmCurso)
{
    <div class="col-md-3">
        <button class="btn btn-warning disabled">
            Em Curso
        </button>
    </div>
}
else if (Model.AluguerState_id == AluguerState.Concluído
         && (DateTime.Today - Model.Fim).TotalDays <= 30)
{
    if (Model.AvaliacaoVeiculo == null)
     {
         <div class="col-md-4">
             @Html.ActionLink("Avaliar Veículo", "Create", "AvaliacaoVeiculoes", new { aluguerId = Model.Id}, new {@class = "btn btn-info"})
         </div>
     }

    @*TODO: Substituir pela ação Create em AvalicoesFornecedores*@
    <div class="col-md-4">
        @Html.ActionLink("Avaliar Fornecedor", "Detalhes", "Utilizadores", new { id = Model.Veiculo.UserId }, new { @class = "btn btn-primary" })
    </div>
}
