@using RentYourCar_PWEB.Models
@model RentYourCar_PWEB.Models.Aluguer

@if (Model.AluguerState_id == AluguerState.Pendente)
{
    <div class="col-lg-4">
        <button class="btn btn-success js-aceitar" AluguerId="@Model.Id" DataInicio="@Model.Inicio.ToShortDateString()" DataFim="@Model.Fim.ToShortDateString()">
            Aceitar
        </button>
    </div>
        <div class="col-lg-4">
            <button class="btn btn-danger js-recusar" AluguerId="@Model.Id" DataInicio="@Model.Inicio.ToShortDateString()" DataFim="@Model.Fim.ToShortDateString()">
                Rejeitar
            </button>
        </div>
}
else if (Model.AluguerState_id == AluguerState.Aceite)
{
    <div class="col-lg-4">
        <button class="btn btn-danger js-cancelar" AluguerId="@Model.Id" DataInicio="@Model.Inicio.ToShortDateString()" DataFim="@Model.Fim.ToShortDateString()">
            Cancelar
        </button>
    </div>
}
else if (@Model.AluguerState_id == AluguerState.EmCurso)
{
    <div class="col-lg-4">
        <button class="btn btn-warning disabled">
            Em Curso
        </button>
    </div>
}
else if (Model.AluguerState_id == AluguerState.Concluído
    && (DateTime.Today - Model.Fim).TotalDays <= 30)
{@*TODO: substituir pela ação Create em AvaliacoesClientes*@
    @*TODO: verificar se AvaliacaoFornecedor == null no Model*@
    <div class="col-lg-4">
        @Html.ActionLink("Avaliar Cliente", "Detalhes", "Utilizadores", new {id=Model.ClienteId}, new {@class = "btn btn-primary"})
    </div>
}
