@using Microsoft.AspNet.Identity
@using RentYourCar_PWEB.Models
@model RentYourCar_PWEB.Models.Aluguer
@{
    ViewBag.Title = "Aluguer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">@ViewBag.Title</h2>

<div class="row">
    <div class="col-lg-6">
        <h4>Dados do Veículo</h4>
        <ul>
            <li>
                <strong>Proprietário: </strong>@Html.ActionLink(Model.Veiculo.User.Nome, "Detalhes", "Utilizadores", new {id = Model.Veiculo.UserId}, null)
            </li>
            <li><strong>@Model.Veiculo.Marca @Model.Veiculo.Modelo </strong>(@Model.Veiculo.NPortas Portas / @Model.Veiculo.Lutacao Lugares)</li>
            <li>
                <strong>Matrícula: </strong>@Html.ActionLink(Model.Veiculo.Matricula, "Details", "Veiculos", new {id = Model.Veiculo.Id}, null)
            </li>
            <li>
                <strong>Categoria: </strong>@Model.Veiculo.Categoria.Nome
            </li>
            <li>
                <strong>Combustível: </strong>@Model.Veiculo.Combustivel.Nome
            </li>
            <li>
                <strong>Região: </strong>@Model.Veiculo.Regiao
            </li>
            <li><strong>Preço Diário: </strong>@Model.Veiculo.PrecoDiario €</li>
            <li>
                <strong>Disponível de </strong>
                @Model.Veiculo.InicioDisponibilidade.ToShortDateString()
                <strong> a </strong>
                @Model.Veiculo.FimDisponibilidade.ToShortDateString()
            </li>
            <li>
                <strong>Condições de Arrendamento:</strong>
                <ul>
                    @if (Model.Veiculo.CondicoesArrendamento != null)
                    {
                        <li>@Model.Veiculo.CondicoesArrendamento</li>
                    }
                    else
                    {
                        <li>(Sem condições de arrendamento)</li>
                    }
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-lg-4">
        <h4>Dados do Aluguer</h4>
        <ul>
            <li>
                <strong>Cliente: </strong>@Html.ActionLink(Model.Cliente.Nome, "Detalhes", "Utilizadores", new {id = Model.ClienteId}, null)
            </li>
            <li>
                <strong>Período de Aluguer:</strong>
                <ul>
                    <li>
                        <strong>Início: </strong>@Model.Inicio.ToShortDateString()
                    </li>
                    <li>
                        <strong>Fim: </strong>@Model.Fim.ToShortDateString()
                    </li>
                </ul>
            </li>
            <li><strong>Estado: </strong>@Model.AluguerState.Nome</li>
        </ul>
        <br/>
        
        @{
            var userId = User.Identity.GetUserId();
            if (string.Compare(userId, Model.ClienteId, StringComparison.Ordinal) == 0)
            {
                <div class="row" id="botoes">
                    @Html.Partial("_ClienteDetailsPartial", Model)
                </div>
            }
            else if (string.Compare(userId, Model.Veiculo.UserId, StringComparison.Ordinal) == 0)
            {
                <div class="row" id="botoes">
                    @Html.Partial("_FornecedorDetailsPartial", Model)
                </div>
            }
            else if (User.IsInRole(RoleNames.Admin))
            {
                <div class="row" id="botoes">
                    <div class="col-lg-4">
                        <button class="btn btn-danger js-eliminar" AluguerId="@Model.Id" DataInicio="@Model.Inicio.ToShortDateString()" DataFim="@Model.Fim.ToShortDateString()">
                            Eliminar
                        </button>
                    </div>
                </div>
            }
        }

    </div>
</div>

@if (Model.AvaliacaoVeiculo != null)
{
    @Html.Partial("_AvaliacaoVeiculoPartial", Model)
}

@if (Model.AvaliacaoFornecedor != null)
{
    @Html.Partial("_AvaliacaoFornecedorPartial", Model)
}

@if (Model.AvaliacaoCliente != null)
{
    @Html.Partial("_AvaliacaoClientePartial", Model)
}
    


@section scripts
{
    <script>
        $(document).ready(function() {
            var botoes = $("#botoes");

            botoes.on("click",
                ".js-aceitar",
                function() {
                    var button = $(this);

                    var confirmMessage = "Tem a certeza que pretende aprovar o aluguer do veículo de " +
                        button.attr("DataInicio") +
                        " a " +
                        button.attr("DataFim") +
                        "?";
                    if (confirm(confirmMessage)) {
                        var url = '@Url.Action("AprovarAluguer", new { id = "__id__" })';
                        window.location.href = url.replace("__id__", button.attr("AluguerId"));
                    }
                });

            botoes.on("click",
                ".js-cancelar",
                function() {
                    var button = $(this);

                    var confirmMessage = "Tem a certeza que pretende cancelar o aluguer do veículo de " +
                        button.attr("DataInicio") +
                        " a " +
                        button.attr("DataFim") +
                        "?";
                    if (confirm(confirmMessage)) {
                        var url = '@Url.Action("CancelarAluguer", new { id = "__id__" })';
                        window.location.href = url.replace("__id__", button.attr("AluguerId"));
                    }
                });

            botoes.on("click",
                ".js-recusar",
                function() {
                    var button = $(this);

                    var confirmMessage = "Tem a certeza que pretende rejeitar o aluguer do veículo de " +
                        button.attr("DataInicio") +
                        " a " +
                        button.attr("DataFim") +
                        "?";
                    if (confirm(confirmMessage)) {
                        var url = '@Url.Action("RejeitarAluguer", new { id = "__id__" })';
                        window.location.href = url.replace("__id__", button.attr("AluguerId"));
                    }
                });

            botoes.on("click",
                ".js-eliminar",
                function () {
                    var button = $(this);

                    var confirmMessage = "Tem a certeza que pretende cancelar o aluguer do veículo de " +
                        button.attr("DataInicio") +
                        " a " +
                        button.attr("DataFim") +
                        "?";
                    if (confirm(confirmMessage)) {
                        var url = '@Url.Action("Delete", new { id = "__id__" })';
                        window.location.href = url.replace("__id__", button.attr("AluguerId"));
                    }
                });


            var avVeiculo = $("#avVeiculo");
            avVeiculo.on("click",
                ".js-aval-veiculo",
                function () {
                    var button = $(this);

                    var confirmMessage = "Tem a certeza que pretende eliminar a avaliação do veículo?";

                    if (confirm(confirmMessage)) {
                        var url = '@Url.Action("Delete", "AvaliacoesVeiculos", new { id = "__id__" })';
                        window.location.href = url.replace("__id__", button.attr("id-aval-veiculo"));
                    }
                });


            var avFornecedor = $("#avFornecedor");
            avFornecedor.on("click",
                ".js-aval-fornecedor",
                function () {
                    var button = $(this);

                    var confirmMessage = "Tem a certeza que pretende eliminar a avaliação do fornecedor?";

                    if (confirm(confirmMessage)) {
                        var url = '@Url.Action("Delete", "AvaliacaoFornecedors", new { id = "__id__" })';
                        window.location.href = url.replace("__id__", button.attr("id-aval-fornecedor"));
                    }
                });


            var avCliente = $("#avCliente");
            avCliente.on("click",
                ".js-aval-cliente",
                function () {
                    var button = $(this);

                    var confirmMessage = "Tem a certeza que pretende eliminar a avaliação do cliente?";

                    if (confirm(confirmMessage)) {
                        var url = '@Url.Action("Delete", "AvaliacaoClientes", new { id = "__id__" })';
                        window.location.href = url.replace("__id__", button.attr("id-aval-cliente"));
                    }
                });
        });
    </script>
}