@model IEnumerable<RentYourCar_PWEB.Models.Aluguer>
@{
    ViewBag.Title = "Lista de Alugueres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">Lista de Alugueres</h2>

@if (!Model.Any())
{
    <p>Não existem alugueres.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Veiculo</th>
            <th>Proprietário</th>
            <th>Cliente</th>
            <th>Período</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.Veiculo.Matricula, "Details", "Veiculos", new {id=item.VeiculoId}, new {@class="btn btn-link"})</td>
                    <td>@Html.ActionLink(item.Veiculo.User.Nome, "Detalhes", "Utilizadores", new { id = item.Veiculo.UserId }, new { @class = "btn btn-link" })</td>
                    <td>@Html.ActionLink(item.Cliente.Nome, "Detalhes", "Utilizadores", new { id = item.ClienteId }, new { @class = "btn btn-link" })</td>
                    <td>@item.Inicio.ToShortDateString() até @item.Fim.ToShortDateString()</td>
                    <td>@Html.ActionLink("Detalhes","Details", new {id=item.Id}, new {@class="btn btn-link"})</td>
                </tr>
            }
        </tbody>
    </table>
}