@using RentYourCar_PWEB.Models
@model IEnumerable<RentYourCar_PWEB.Models.Aluguer>
@{
    ViewBag.Title = "Lista de Alugueres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">Lista de Alugueres</h2>

@if (!Model.Any())
{
    <p class="lead">Não existem alugueres para mostrar.</p>
}
else
{
    <table class="table table-bordered table-hover" id="listaAlugueres">
        <thead>
        <tr>
            <th>Veiculo</th>
            <th>Proprietário</th>
            <th>Cliente</th>
            <th>Período</th>
            <th>Estado</th>
            <th>Detalhes</th>
            @if (User.IsInRole(RoleNames.Admin))
            {
                <th>Eliminar</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Veiculo.Marca @item.Veiculo.Modelo<br/>
                    [ @Html.ActionLink(item.Veiculo.Matricula, "Details", "Veiculos", new { id = item.VeiculoId }, new { @class = "btn btn-link" }) ]
                </td>
                <td>@Html.ActionLink(item.Veiculo.User.Nome, "Detalhes", "Utilizadores", new { id = item.Veiculo.UserId }, new { @class = "btn btn-link" })</td>
                <td>@Html.ActionLink(item.Cliente.Nome, "Detalhes", "Utilizadores", new { id = item.ClienteId }, new { @class = "btn btn-link" })</td>
                <td>@item.Inicio.ToShortDateString() até @item.Fim.ToShortDateString()</td>
                <td>@Html.DisplayFor(modelItem => item.AluguerState.Nome)</td>
                <td>@Html.ActionLink("Detalhes","Details", new {id=item.Id}, new {@class="btn btn-link"})</td>
                @if (User.IsInRole(RoleNames.Admin))
                {
                    <td>
                        <button class="btn btn-link js-eliminar" aluguer-id="@item.Id" data-inicio="@item.Inicio.ToShortDateString()" data-fim="@item.Fim.ToShortDateString()">
                            Eliminar
                        </button>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#listaAlugueres").DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registos por página",
                    "zeroRecords": "Não foram encontrados registos",
                    "info": "A mostrar a página _PAGE_ de _PAGES_",
                    "infoEmpty": "Não existem registos disponíveis",
                    "infoFiltered": "(filtrado de _MAX_ registos no total)",
                    "search": "Pesquisar: ",
                    "paginate": {
                        "first": "Primeira",
                        "last": "Última",
                        "next": "Próxima",
                        "previous": "Anterior"
                    }
                }
            });

            table.on("click",
                ".js-eliminar",
                function () {
                    var button = $(this);

                    var confirmMessage = "Tem a certeza que pretende eliminar o aluguer do veículo de " +
                        button.attr("data-inicio") +
                        " a " +
                        button.attr("data-fim") +
                        "?";
                    if (confirm(confirmMessage)) {
                        $.ajax({
                            url: "/Alugueres/Delete/" + button.attr("aluguer-id"),
                            method: 'GET',
                            success: function () {
                                //console.log("Aluguer removido");
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
        });
    </script>
}