@model IEnumerable<RentYourCar_PWEB.Models.AlugueresViewModels.AluguerViewModel>
@{
    ViewBag.Title = "Lista de Alugueres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">Lista de Alugueres</h2>

@if (!Model.Any())
{
    <p>Não existem alugueres.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Veiculo</th>
            <th>Proprietário</th>
            <th>Cliente</th>
            <th>Período</th>
            <th>Ações</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Aluguer.Veiculo.Matricula, "Details", "Veiculos", new {id = item.Aluguer.VeiculoId}, new {@class = "btn btn-link"})</td>
                <td>@Html.ActionLink(item.Aluguer.Veiculo.User.Nome, "Detalhes", "Utilizadores", new {id = item.Aluguer.Veiculo.UserId}, new {@class = "btn btn-link"})</td>
                <td>@Html.ActionLink(item.Aluguer.Cliente.Nome, "Detalhes", "Utilizadores", new {id = item.Aluguer.ClienteId}, new {@class = "btn btn-link"})</td>
                <td>@item.Aluguer.Inicio.ToShortDateString() até @item.Aluguer.Fim.ToShortDateString()</td>
                <td>@Html.ActionLink("Detalhes", "Details", new {id = item.Aluguer.Id}, new {@class = "btn btn-link"})</td>
                <td> @Html.DisplayFor(modelItem => item.AluguerState)</td>
            </tr>
        }
        </tbody>
    </table>
}