@model RentYourCar_PWEB.Models.AvaliacaoCliente

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AvaliacaoCliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aluguer.ClienteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aluguer.ClienteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Limpeza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Limpeza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuidado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuidado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pontualidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pontualidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pagamento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
